<!DOCTYPE html>
<html lang="zh_CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>安装</title>
<link rel="stylesheet" href="/static/css/install.css" media="all">
<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
<link href="/static/plugins/step-lay/step.css" rel="stylesheet">
<link rel="stylesheet" href="/static/plugins/layer/theme/default/layer.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header install-title">Go-FastDfs-Web 安装</div>
        <div class="layui-card-body" style="padding-top: 40px;">
            <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                <div carousel-item>
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">集群名称:</label>
                                <div class="layui-input-block">
                                    <input name="ServerName" placeholder="集群名称"  type="text" lay-verify="required" class="layui-input" >
                                    <span>如:集群1</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">组名称:</label>
                                <div class="layui-input-block">
                                    <input name="GroupName" placeholder="组名称" type="text" class="layui-input" >
                                    <span>如:group1,未开启组支持请不要填写!</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">管理地址:</label>
                                <div class="layui-input-block">
                                    <input name="ServerAddress" placeholder="当前集群服务地址" lay-verify="required" type="text"  class="layui-input" >
                                    <span>如:http://127.0.0.1:8080</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">访问域名:</label>
                                <div class="layui-input-block">
                                    <input name="ShowAddress" placeholder="资源访问域名"  type="text" class="layui-input" >
                                    <span>配置能访问到资源的域名,未做域名映射请不要填写!</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formStep">
                                        &emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名:</label>
                                <div class="layui-input-block">
                                    <input name="Name" placeholder="用户名"  type="text" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">登录账户:</label>
                                <div class="layui-input-block">
                                    <input name="Account" placeholder="登录账户"  type="text" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">登录密码:</label>
                                <div class="layui-input-block">
                                    <input name="Password" placeholder="登录密码"  type="password" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱:</label>
                                <div class="layui-input-block">
                                    <input name="Email"  placeholder="邮箱"  type="text" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                    <button class="layui-btn" lay-submit lay-filter="formStep2">
                                        &emsp;安装&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div style="text-align: center;margin-top: 90px;">
                            <i class="layui-icon layui-circle"
                               style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                            <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                安装成功
                            </div>
                            <div style="font-size: 14px;color: #666;margin-top: 20px;">欢迎使用Go-FastDfs-Web管理平台</div>
                        </div>
                        <div style="text-align: center;margin-top: 50px;">
                            <button class="layui-btn">账号登录</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;">
                <h3>提示</h3><br>
                <h4>组名称</h4>
                <p>当go-fastdfs开启按组管理时,需要填写组名称,这里请确保和go-fastdfs配置文件中的组名称保持一致</p>
                <br> <h4>管理地址</h4>
                <p>管理地址即为go-fastdfs配置我呢见中配置的管理IP,如遇到连接失败等问题,请检查go-fastdfs配置文件中的管理ip是否和您填写的一致</p>
                <br> <h4>其他问题</h4>
                <p>如遇到安装失败提示服务错误等情况,请预先手动调用一下go-fastdfs的接口,看是否能成功</p>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/plugins/step-lay/step.js"></script>
<script type="text/javascript">
    layui.config({
        base:'/static/plugins/step-lay/'
    }).use([ 'form', 'step'], function () {
        var $ = layui.$
            , form = layui.form
            , step = layui.step;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '集群配置'
            }, {
                title: '账号配置'
            }, {
                title: '完成'
            }]
        });

        let peersFormValue = null;
        form.on('submit(formStep)', function (data) {
            peersFormValue = data.field;
            const index = layer.load();
            $.post("/install/checkServer",peersFormValue,function(result){
                console.log(result);
                if(result.code === 0){
                    layer.close(index);
                    step.next('#stepForm');
                }else{
                    layer.close(index);
                    layer.msg(result.msg);
                }
            });
            return false;
        });

        form.on('submit(formStep2)', function (data) {
            $.post("/install/doInstall",$.extend({}, peersFormValue,data.field),function(result){
                if(result.state === 200){
                    location.href='/login';
                }else{
                    layer.msg(result.msg);
                }
            });
            step.next('#stepForm');
            return false;
        });

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    })
</script>
</body>
</html>