html, body {
	margin: 0;
	height: auto;
	min-height: 100%;
	line-height: 1.42857143;
	color: #58666e;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
		Microsoft YaHei, Arial, sans-serif;
}
.install-title{
	text-align: center!important;
	padding-top: 20px!important;
	font-weight: bold!important;
	font-size: 18px!important;
	padding-right: 50px!important;
}